html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="./styles/style.css")
        title="Alexis"
    body
        .wrapper
            header.header
                .header__logo-container
                    img.header__logo(src="./assets/img/img-header-logo.png")
                nav.header__nav
                    ul.header__nav-ul
                        each val in ["Our Focus", "Portfolio", "Our Team", "Work Space", "Pricing", "Testimonials", "Blog", "Contact"]
                            li.header__nav-li
                                a(class="header__nav-link", href=val, title="About Us")= val
            .advert
                .advert__header
                    .advert__title-container
                        p.advert__title We design things with love and passion.
                    input(class="advert__button advert__button_animated_true", type="button", value="Our Works")
                .advert__body
                    .advert__content
                        img.advert__content-icon(src="./assets/img/icon-header-dollar.png")
                        p.advert__text(class="advert__content_color_green") FIXED PRICES PROJECTS
                    .advert__content
                        img.advert__content-icon(src="./assets/img/icon-header-clock.png")
                        p.advert__text(class="advert__content_color_violet") RECEIVE ON TIME
                    .advert__content
                        img.advert__content-icon(src="./assets/img/icon-header-tick.png")
                        p.advert__text(class="advert__content_color_orange") SATISFACTION GUARENTEED
            .about
                .about__container
                    .about__img-container
                        img.about__img(src="./assets/img/img-about-blank.png", alt="About")
                    .about__body
                        p.about__title About Us.
                        p.about__text Analytics release series A financing launch party interaction design android angel investor. Vesting period social media sales conversion launch party rockstar incubator customer social proof graphical user interface technology supply chain. Non-disclosure agreement rockstar creative partner network launch party social proof paradigm shift long tail influencer. 
                        p.about__text Monetization validation success. Seed round channels product management. Customer non-disclosure agreement strategy android growth hacking ramen buyer.
            .focus
                .focus__header
                    p.focus__title Our Focus
                    p.focus__subtitle We understand your requirement and provide quality works.
                .focus__body
                    .focus__subcontainer
                        .focus__content-border_color_red.focus__content
                            img(src="./assets/img/icon-services-envelope.png")
                            p.focus__content-title Web Design
                            p.focus__content-text Analytics release series A financing launch party interaction design android angel investor.
                        .focus__content.focus__content-border_color_green
                            img(src="./assets/img/icon-services-paper.png")
                            p.focus__content-title UX Design
                            p.focus__content-text Analytics release series A financing launch party interaction design android angel investor.
                    .focus__subcontainer
                        .focus__content.focus__content-border_color_violet
                            img(src="./assets/img/icon-services-mountains.png")
                            p.focus__content-title Photograph
                            p.focus__content-text Analytics release series A financing launch party interaction design android angel investor.
                        .focus__content.focus__content-border_color_orange
                            img(src="./assets/img/icon-services-mobile.png")
                            p.focus__content-title App Development
                            p.focus__content-text Analytics release series A financing launch party interaction design android angel investor.
            .portfolio
                .portfolio__header
                    p.portfolio__title Portfolio
                    p.portfolio__subtitle We understand your requirement and provide quality works.
                .portfolio__gallery
                    each item in [0,1,2,3,4,5,6,7,8]
                        div(class="portfolio__gallery-item portfolio__gallery-item_bg_" + item + "")
                            .portfolio__link-container
                                .portfolio__upper
                                    .portfolio__icon-container
                                        a(class="portfolio__link", href="", title="Item page")
                                            img(class="portfolio__upper-img" src="./assets/img/icon-portfolio-circle.png")
                                .portfolio__lower
                                    p.portfolio__project-name Project #{item + 1}
            .team
                .team__header
                    p.team__header-title Our Team
                    p.team__header-subtitle We understand your requirement and provide quality works.
                .team__body
                    .team__body-container                                                   
                        .team__subcontainer                        
                            .team__content-container
                                .team__content-img_bg_0.team__target
                                .team__content-bio
                                    p.team__content-name Michel Schmidt
                                    p.team__content-position Founder & SEO
                            .team__content-container
                                .team__content-img_bg_1.team__target
                                .team__content-bio
                                    p.team__content-name David Kramer
                                    p.team__content-position Lead Developer
                        .team__subcontainer
                            .team__content-container
                                .team__content-img_bg_2.team__target
                                .team__content-bio
                                    p.team__content-name Anna Schreder
                                    p.team__content-position Consaltent
                            .team__content-container
                                .team__content-img_bg_3.team__target
                                .team__content-bio
                                    p.team__content-name David Noeman
                                    p.team__content-position Designer
            .stats
                .stats__container
                    - var quantity = ["1500+", "1000+", "1.796+", "12.458+"]
                    each item, index in ["Freebies Realese", "Positive Feedbacks", "Satisfied Clients", "Projects Completed"]                                     
                        .stats__item
                            img.stats__icon(src="./assets/img/icon-stats-" + index + ".png", alt="")
                            p.stats__quantity #{quantity[index]}                           
                            p.stats__text #{item}   
                            img.stats__button(src="./assets/img/icon-stats-bt-" + index + ".png", alt="")
            .steps
                .steps__header
                    .steps__title Work Steps
                    .steps__subtitle We understand your requirement and provide quality works.
                .steps__body
                    .steps__body-container
                        each item, index in ["Project Understanding", "Research and Planning", "Wireframe and Design", "Development"]
                            div(class="steps__body-item-" + index + "")
                                .steps__item-img
                                    img.steps__img(src="./assets/img/icon-steps-number-" + index + ".png")
                                .steps__items-content
                                    p.steps__items-title #{item}
                                    p.steps__items-text Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
            .pricing
                .pricing__header
                    p.pricing__title Pricing Table
                    p.pricing__subtitle We understand your requirement and provide quality works.
                .pricing__body
                    - const color = ['green', 'red', 'violet']
                    - const capacity = ['200GB', '800GB', '200GB']
                    - const files = ['20', 'Unlimited', '20']
                    - const bandwidth = ['2TB', '10TB', '2TB']
                    each item, index in ['Starter', 'Ultimate', 'Professional']
                        div(class="pricing__plan pricing__plan_theme_" + color[index] + "")
                            p.pricing__plan-name #{item}
                            div(class="pricing__icon_theme_" + index + "")
                            p.pricing__plan-text.pricing__plan-text_theme_bold #{capacity[index]}
                                span.pricing__plan-text  Online Storage
                            p.pricing__plan-text.pricing__plan-text_theme_bold #{files[index]}
                                span.pricing__plan-text  Files Per Day
                            p.pricing__plan-text.pricing__plan-text_theme_bold #{bandwidth[index]}
                                span.pricing__plan-text  Monthly Bandwidth
                            p.pricing__plan-text.pricing__plan-text_theme_bold &#10004;
                                span.pricing__plan-text  Security Platform
                            p.pricing__plan-text.pricing__plan-text_theme_bold &#10004;
                                span.pricing__plan-text  24/7 Customer Support
                            p.pricing__plan-text.pricing__plan-text_theme_bold &#10004;
                                span.pricing__plan-text  Fast & Reliable
                            a(class="pricing__link pricing_color_" + color[index] + "", href="", title=item) GET STARTED
 



        
        script(src="./scripts/script.js" type="text/javascript")